n8n_workflow&database/04-welcome-email-subscriber.json
{
  "name": "Bratz Drip — 04 Welcome Email & Newsletter Subscriber",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bratz-subscriber-new",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: New Subscriber",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  email: body.email,\n  event: body.event,\n  timestamp: new Date().toLocaleString()\n}}];"
      },
      "id": "extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourmiastore.com",
        "fromName": "Bratz Drip ✨",
        "toEmail": "={{ $json.email }}",
        "subject": "💅 Welcome to the Bratz Drip fam!",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><style>body{font-family:'Helvetica Neue',Arial,sans-serif;background:#f8f0ff;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:20px;overflow:hidden}.header{background:linear-gradient(135deg,#FF0066,#C084FC,#FF85C2);padding:50px;text-align:center}.logo{font-size:36px;font-weight:900;color:white;letter-spacing:4px;margin:0}.tagline{color:rgba(255,255,255,0.85);font-size:14px;margin:8px 0 0;letter-spacing:2px}.body{padding:40px;text-align:center}.emoji{font-size:72px;margin:20px 0}.headline{font-size:28px;font-weight:900;color:#1A0A2E;margin:16px 0}.subtext{color:#888;font-size:15px;line-height:1.6;max-width:420px;margin:0 auto 32px}.code-box{background:linear-gradient(135deg,#f8f0ff,#fff0f8);border:2px dashed #C084FC;border-radius:16px;padding:24px;margin:24px 0}.code-label{color:#888;font-size:12px;letter-spacing:3px;text-transform:uppercase;margin-bottom:8px}.code{font-size:32px;font-weight:900;color:#FF0066;letter-spacing:6px;font-family:monospace}.code-desc{color:#888;font-size:13px;margin-top:8px}.perks{display:grid;grid-template-columns:1fr 1fr;gap:16px;margin:24px 0;text-align:left}.perk{background:#f8f0ff;border-radius:12px;padding:16px}.perk-icon{font-size:24px;margin-bottom:8px}.perk-title{font-size:14px;font-weight:700;color:#1A0A2E;margin:0 0 4px}.perk-desc{font-size:12px;color:#888;margin:0}.cta{display:inline-block;background:linear-gradient(135deg,#FF0066,#FF2D9B);color:white;padding:16px 40px;border-radius:40px;text-decoration:none;font-weight:700;letter-spacing:2px;font-size:14px;margin:20px 0;box-shadow:0 8px 30px rgba(255,0,102,0.3)}.footer{background:#1A0A2E;padding:24px;text-align:center;color:rgba(255,255,255,0.4);font-size:12px}.footer a{color:#FF85C2;text-decoration:none}</style></head><body><div class='container'><div class='header'><p class='logo'>BRATZ DRIP</p><p class='tagline'>✦ FASHION THAT BITES BACK ✦</p></div><div class='body'><div class='emoji'>💅</div><h1 class='headline'>You're officially in the fam!</h1><p class='subtext'>Welcome to Bratz Drip — where fashion is loud, bold, and completely unapologetic. Here's your welcome gift:</p><div class='code-box'><div class='code-label'>Your Exclusive Code</div><div class='code'>WELCOME10</div><div class='code-desc'>10% off your first order — no minimum!</div></div><div class='perks'><div class='perk'><div class='perk-icon'>🚀</div><p class='perk-title'>First to Know</p><p class='perk-desc'>Get early access to every new drop before anyone else.</p></div><div class='perk'><div class='perk-icon'>💌</div><p class='perk-title'>Exclusive Sales</p><p class='perk-desc'>Subscriber-only deals and flash sales every week.</p></div><div class='perk'><div class='perk-icon'>✨</div><p class='perk-title'>Style Inspo</p><p class='perk-desc'>Weekly outfit ideas and style guides from the team.</p></div><div class='perk'><div class='perk-icon'>🎁</div><p class='perk-title'>Birthday Surprise</p><p class='perk-desc'>We'll spoil you on your birthday with a special gift.</p></div></div><a href='https://bratzdrip.com/shop' class='cta'>SHOP NOW ✦</a><p style='color:#aaa;font-size:12px;margin-top:16px'>Code expires in 30 days. Single use only.</p></div><div class='footer'><p>© 2025 Bratz Drip · <a href='https://bratzdrip.com'>bratzdrip.com</a></p><p><a href='#'>Unsubscribe</a> · <a href='#'>Privacy Policy</a></p></div></div></body></html>"
      },
      "id": "welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE email_subscribers SET is_active = true WHERE email = '{{ $json.email }}'"
      },
      "id": "activate-subscriber",
      "name": "Activate Subscriber in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "miastore-postgres",
          "name": "Miastore PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: New Subscriber": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Activate Subscriber in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "bratz-drip"
    }
  ]
}