n8n_workflow&database/05-daily-sales-report.json
{
  "name": "Bratz Drip — 05 Daily Sales Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_orders, COALESCE(SUM(total),0) as revenue, COALESCE(AVG(total),0) as avg_order_value, COUNT(CASE WHEN status='delivered' THEN 1 END) as delivered, COUNT(CASE WHEN status='cancelled' THEN 1 END) as cancelled, COUNT(CASE WHEN status='pending' THEN 1 END) as pending FROM orders WHERE DATE(created_at) = CURRENT_DATE - INTERVAL '1 day'"
      },
      "id": "get-sales",
      "name": "Get Yesterday Sales",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "miastore-postgres",
          "name": "Miastore PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT oi.product_name, SUM(oi.quantity) as units, SUM(oi.subtotal) as revenue FROM order_items oi JOIN orders o ON oi.order_id = o.id WHERE DATE(o.created_at) = CURRENT_DATE - INTERVAL '1 day' GROUP BY oi.product_name ORDER BY units DESC LIMIT 5"
      },
      "id": "get-top-products",
      "name": "Get Top Products Yesterday",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "miastore-postgres",
          "name": "Miastore PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as new_subscribers FROM email_subscribers WHERE DATE(created_at) = CURRENT_DATE - INTERVAL '1 day'"
      },
      "id": "get-subscribers",
      "name": "Get New Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "miastore-postgres",
          "name": "Miastore PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sales = $('Get Yesterday Sales').first().json;\nconst topProds = $('Get Top Products Yesterday').all();\nconst subs = $('Get New Subscribers').first().json;\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toLocaleDateString('en-US', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nconst topRows = topProds.map((p, i) => {\n  const medals = ['🥇','🥈','🥉','4️⃣','5️⃣'];\n  return `<tr><td style='padding:10px 12px'>${medals[i]} ${p.json.product_name}</td><td style='padding:10px 12px;text-align:center'>${p.json.units}</td><td style='padding:10px 12px;text-align:right'>$${parseFloat(p.json.revenue).toFixed(2)}</td></tr>`;\n}).join('');\n\nreturn [{ json: {\n  date: dateStr,\n  total_orders: sales.total_orders,\n  revenue: parseFloat(sales.revenue).toFixed(2),\n  avg_order: parseFloat(sales.avg_order_value).toFixed(2),\n  delivered: sales.delivered,\n  cancelled: sales.cancelled,\n  pending: sales.pending,\n  new_subscribers: subs.new_subscribers,\n  top_rows: topRows,\n  has_sales: parseInt(sales.total_orders) > 0\n}}];"
      },
      "id": "merge-report",
      "name": "Merge Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "reports@yourmiastore.com",
        "fromName": "Bratz Drip Reports",
        "toEmail": "={{ \\.ADMIN_EMAIL }}",
        "subject": "📊 Daily Sales Report — {{ $json.date }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f8f0ff;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:16px;overflow:hidden}.header{background:#1A0A2E;padding:32px;display:flex;align-items:center;justify-content:space-between}.title{color:#FF0066;font-size:24px;font-weight:900;margin:0;letter-spacing:2px}.date{color:rgba(255,255,255,0.5);font-size:12px}.body{padding:32px}.stats-grid{display:grid;grid-template-columns:1fr 1fr;gap:16px;margin-bottom:24px}.stat{padding:20px;border-radius:12px;text-align:center}.stat-val{font-size:32px;font-weight:900}.stat-label{font-size:11px;color:#888;text-transform:uppercase;letter-spacing:1px;margin-top:4px}.table{width:100%;border-collapse:collapse;margin-top:8px}th{background:#f8f0ff;padding:10px 12px;text-align:left;font-size:11px;text-transform:uppercase;letter-spacing:1px;color:#888}td{font-size:14px;border-bottom:1px solid #f8f0ff}h3{color:#1A0A2E;font-size:16px;letter-spacing:1px;margin:24px 0 8px;text-transform:uppercase}.footer{background:#1A0A2E;padding:20px;text-align:center;color:rgba(255,255,255,0.4);font-size:12px}</style></head><body><div class='container'><div class='header'><h1 class='title'>📊 DAILY REPORT</h1><span class='date'>{{ $json.date }}</span></div><div class='body'><div class='stats-grid'><div class='stat' style='background:linear-gradient(135deg,#fff0f8,#f8f0ff)'><div class='stat-val' style='color:#FF0066'>{{ $json.total_orders }}</div><div class='stat-label'>Orders</div></div><div class='stat' style='background:linear-gradient(135deg,#f0fff4,#ecfdf5)'><div class='stat-val' style='color:#22c55e'>${{ $json.revenue }}</div><div class='stat-label'>Revenue</div></div><div class='stat' style='background:linear-gradient(135deg,#f8f0ff,#faf5ff)'><div class='stat-val' style='color:#C084FC'>${{ $json.avg_order }}</div><div class='stat-label'>Avg Order</div></div><div class='stat' style='background:linear-gradient(135deg,#fffbeb,#fef9c3)'><div class='stat-val' style='color:#eab308'>{{ $json.new_subscribers }}</div><div class='stat-label'>New Subscribers</div></div></div><h3>📦 Order Status</h3><div style='display:flex;gap:12px;margin-bottom:24px'><div style='flex:1;background:#f0fff4;border-radius:8px;padding:12px;text-align:center'><div style='font-size:20px;font-weight:900;color:#22c55e'>{{ $json.delivered }}</div><div style='font-size:11px;color:#888'>Delivered</div></div><div style='flex:1;background:#fffbeb;border-radius:8px;padding:12px;text-align:center'><div style='font-size:20px;font-weight:900;color:#f59e0b'>{{ $json.pending }}</div><div style='font-size:11px;color:#888'>Pending</div></div><div style='flex:1;background:#fef2f2;border-radius:8px;padding:12px;text-align:center'><div style='font-size:20px;font-weight:900;color:#ef4444'>{{ $json.cancelled }}</div><div style='font-size:11px;color:#888'>Cancelled</div></div></div><h3>🏆 Top Products</h3><table class='table'><thead><tr><th>Product</th><th style='text-align:center'>Units</th><th style='text-align:right'>Revenue</th></tr></thead><tbody>{{ $json.top_rows }}</tbody></table></div><div class='footer'><p>Bratz Drip Internal Report · bratzdrip.com</p></div></div></body></html>"
      },
      "id": "send-report",
      "name": "Send Daily Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "📊 *Daily Report — {{ $json.date }}*\\n💰 Revenue: *${{ $json.revenue }}* | 🛍️ Orders: *{{ $json.total_orders }}* | 📧 New Subs: *{{ $json.new_subscribers }}*\\n📦 Delivered: {{ $json.delivered }} | ⏳ Pending: {{ $json.pending }} | ❌ Cancelled: {{ $json.cancelled }}"
            }
          ]
        }
      },
      "id": "slack-report",
      "name": "Slack: Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        480
      ]
    }
  ],
  "connections": {
    "Daily at 8AM": {
      "main": [
        [
          {
            "node": "Get Yesterday Sales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Top Products Yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get New Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday Sales": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Products Yesterday": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Subscribers": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Report Data": {
      "main": [
        [
          {
            "node": "Send Daily Report Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "bratz-drip"
    }
  ]
}