n8n_workflow&database/06-abandoned-cart-recovery.json
{
  "name": "06 - Abandoned Cart Recovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_URL}}/api/v1/store/abandoned-carts",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "name": "Get Abandoned Carts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{$json.hours_since_abandoned}}", "operation": "equal", "value2": 1 }]
        }
      },
      "name": "First 1hr Recovery",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$json.customer_email}}",
        "subject": "You left something behind, {{$json.customer_name || 'Doll Lover'}} 🛍️",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style='font-family:Georgia,serif;background:#fafafa;'><div style='max-width:600px;margin:0 auto;background:white;'><div style='background:#0a0a0a;padding:40px;text-align:center;'><h1 style='color:white;font-weight:300;letter-spacing:0.3em;font-size:24px;'>MIA STORE</h1></div><div style='padding:40px;'><h2 style='font-weight:300;color:#0a0a0a;'>Your bag misses you...</h2><p style='color:#6b7280;line-height:1.7;'>Hi {{$json.customer_name || 'doll lover'}}, you left some beautiful pieces in your shopping bag.</p><div style='background:#fafafa;padding:20px;margin:20px 0;'><p style='margin:0;color:#C9A84C;font-weight:600;'>Subtotal: ₹{{$json.subtotal}}</p></div><a href='{{$env.FRONTEND_URL}}/cart' style='display:inline-block;background:#C9A84C;color:white;padding:14px 32px;text-decoration:none;text-transform:uppercase;letter-spacing:0.15em;font-size:13px;'>Complete Your Purchase</a><p style='color:#9ca3af;font-size:12px;margin-top:30px;'>Your cart is saved for 24 hours.</p></div></div></body></html>"
      },
      "name": "Send 1hr Recovery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{$json.hours_since_abandoned}}", "operation": "equal", "value2": 24 }]
        }
      },
      "name": "24hr Follow-up Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$json.customer_email}}",
        "subject": "Last chance — 10% off your cart! 💛",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style='font-family:Georgia,serif;background:#fafafa;'><div style='max-width:600px;margin:0 auto;background:white;'><div style='background:#0a0a0a;padding:40px;text-align:center;'><h1 style='color:white;font-weight:300;letter-spacing:0.3em;font-size:24px;'>MIA STORE</h1></div><div style='padding:40px;text-align:center;'><div style='background:#fdf6e3;border:1px solid #C9A84C;padding:20px;margin-bottom:30px;'><p style='color:#C9A84C;font-size:28px;font-weight:300;margin:0;'>10% OFF</p><p style='color:#6b7280;margin:5px 0 0;font-size:13px;'>Use code: COMEBACK10</p></div><h2 style='font-weight:300;color:#0a0a0a;'>We saved your cart!</h2><p style='color:#6b7280;line-height:1.7;'>Your beautiful selections are waiting. Use code <strong>COMEBACK10</strong> for 10% off.</p><a href='{{$env.FRONTEND_URL}}/cart?promo=COMEBACK10' style='display:inline-block;background:#C9A84C;color:white;padding:14px 32px;text-decoration:none;text-transform:uppercase;letter-spacing:0.15em;font-size:13px;margin-top:20px;'>Claim Your Discount</a></div></div></body></html>"
      },
      "name": "Send 24hr Discount Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Every Hour": { "main": [[{ "node": "Get Abandoned Carts", "type": "main", "index": 0 }]] },
    "Get Abandoned Carts": { "main": [[{ "node": "First 1hr Recovery", "type": "main", "index": 0 }]] },
    "First 1hr Recovery": {
      "main": [
        [{ "node": "Send 1hr Recovery Email", "type": "main", "index": 0 }],
        [{ "node": "24hr Follow-up Check", "type": "main", "index": 0 }]
      ]
    },
    "24hr Follow-up Check": {
      "main": [[{ "node": "Send 24hr Discount Email", "type": "main", "index": 0 }], []]
    }
  },
  "settings": { "executionOrder": "v1" }
}
