n8n_workflow&database/07-review-request-automation.json
{
  "name": "07 - Review Request Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_URL}}/api/v1/orders/?fulfillment_status=fulfilled&days_since=7",
        "options": {}
      },
      "name": "Get Delivered Orders (7 days ago)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Orders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{$json.review_requested}}", "operation": "false" }]
        }
      },
      "name": "Not Yet Reviewed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$json.customer_email}}",
        "subject": "How did your doll like her new outfit? ⭐",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style='font-family:Georgia,serif;background:#fafafa;'><div style='max-width:600px;margin:0 auto;background:white;'><div style='background:#0a0a0a;padding:40px;text-align:center;'><h1 style='color:white;font-weight:300;letter-spacing:0.3em;font-size:24px;'>MIA STORE</h1></div><div style='padding:40px;'><h2 style='font-weight:300;color:#0a0a0a;'>We'd love to hear from you!</h2><p style='color:#6b7280;line-height:1.7;'>Hi {{$json.customer_name || 'dear'}}, your order <strong>{{$json.order_number}}</strong> was delivered a week ago. We hope your doll is loving her new look!</p><p style='color:#6b7280;'>Would you mind leaving a quick review? It takes just 30 seconds and helps other doll lovers discover our pieces.</p><div style='text-align:center;margin:30px 0;'><p style='color:#C9A84C;font-size:18px;margin-bottom:15px;'>⭐ ⭐ ⭐ ⭐ ⭐</p><a href='{{$env.FRONTEND_URL}}/account?tab=orders&review={{$json.id}}' style='display:inline-block;background:#C9A84C;color:white;padding:14px 32px;text-decoration:none;text-transform:uppercase;letter-spacing:0.15em;font-size:13px;'>Leave a Review</a></div><p style='color:#9ca3af;font-size:12px;'>As a thank you, reviewers get 5% off their next order!</p></div></div></body></html>"
      },
      "name": "Send Review Request Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_URL}}/api/v1/orders/{{$json.id}}",
        "requestMethod": "PATCH",
        "bodyParametersUi": {
          "parameter": [{ "name": "review_requested", "value": "true" }]
        }
      },
      "name": "Mark Review Requested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Every 12 Hours": { "main": [[{ "node": "Get Delivered Orders (7 days ago)", "type": "main", "index": 0 }]] },
    "Get Delivered Orders (7 days ago)": { "main": [[{ "node": "Split Orders", "type": "main", "index": 0 }]] },
    "Split Orders": { "main": [[{ "node": "Not Yet Reviewed", "type": "main", "index": 0 }]] },
    "Not Yet Reviewed": { "main": [[{ "node": "Send Review Request Email", "type": "main", "index": 0 }], []] },
    "Send Review Request Email": { "main": [[{ "node": "Mark Review Requested", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
