n8n_workflow&database/10-custom-quote-automation.json
{
  "name": "10 - Custom Quote Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-submitted",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: Quote Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are a pricing expert for Mia Store, a luxury handmade doll clothing brand. Analyze this custom order request and provide a fair quote.\n\nCustomer: {{$json.body.customer_name}}\nDoll Type: {{$json.body.doll_type}}\nOutfit Description: {{$json.body.outfit_description}}\nSpecial Requests: {{$json.body.special_requests || 'None'}}\nBudget: {{$json.body.budget || 'Not specified'}}\nDeadline: {{$json.body.deadline || 'Flexible'}}\n\nRespond with ONLY a JSON object: { \"quoted_price\": number, \"delivery_days\": number, \"notes\": string, \"complexity\": \"simple|moderate|complex\", \"materials_estimate\": string }"
            }
          ]
        },
        "options": {}
      },
      "name": "Claude: Generate Quote",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.content?.[0]?.text || '{}';\nconst cleaned = raw.replace(/```json\\n?|```/g, '').trim();\ntry {\n  return [{ json: JSON.parse(cleaned) }];\n} catch(e) {\n  return [{ json: { quoted_price: 1500, delivery_days: 21, notes: 'Custom quote prepared', complexity: 'moderate', materials_estimate: 'Premium fabrics' } }];\n}"
      },
      "name": "Parse Quote Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$('Webhook: Quote Submitted').item.json.body.customer_email}}",
        "subject": "Your Custom Quote from Mia Store ✨ — {{$('Webhook: Quote Submitted').item.json.body.quote_number}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style='font-family:Georgia,serif;background:#fafafa;'><div style='max-width:600px;margin:0 auto;background:white;'><div style='background:#0a0a0a;padding:40px;text-align:center;'><h1 style='color:white;font-weight:300;letter-spacing:0.3em;font-size:24px;'>MIA STORE</h1><p style='color:#C9A84C;font-size:12px;letter-spacing:0.2em;text-transform:uppercase;margin:10px 0 0;'>Custom Creation Quote</p></div><div style='padding:40px;'><h2 style='font-weight:300;color:#0a0a0a;'>Your Quote is Ready</h2><p style='color:#6b7280;'>Dear {{$('Webhook: Quote Submitted').item.json.body.customer_name || 'Doll Lover'}}, thank you for your custom order request. We've prepared a personalized quote just for you.</p><div style='background:#fdf6e3;border:1px solid #C9A84C;padding:25px;margin:25px 0;'><table style='width:100%;border-collapse:collapse;'><tr><td style='padding:8px 0;color:#6b7280;font-size:13px;'>Quote Reference</td><td style='padding:8px 0;font-weight:600;text-align:right;'>{{$('Webhook: Quote Submitted').item.json.body.quote_number}}</td></tr><tr><td style='padding:8px 0;color:#6b7280;font-size:13px;'>Quoted Price</td><td style='padding:8px 0;color:#C9A84C;font-size:22px;font-weight:300;text-align:right;'>₹{{$json.quoted_price}}</td></tr><tr><td style='padding:8px 0;color:#6b7280;font-size:13px;'>Delivery Time</td><td style='padding:8px 0;font-weight:600;text-align:right;'>{{$json.delivery_days}} days</td></tr><tr><td style='padding:8px 0;color:#6b7280;font-size:13px;'>Complexity</td><td style='padding:8px 0;text-align:right;text-transform:capitalize;'>{{$json.complexity}}</td></tr></table></div><div style='background:#f9f9f9;padding:15px;margin-bottom:25px;'><p style='font-size:13px;color:#6b7280;margin:0;'><strong>Artisan Notes:</strong> {{$json.notes}}</p></div><div style='text-align:center;'><p style='color:#6b7280;font-size:13px;margin-bottom:15px;'>This quote is valid for 7 days. Ready to proceed?</p><a href='{{$env.FRONTEND_URL}}/custom-request?approve={{$('Webhook: Quote Submitted').item.json.body.quote_id}}' style='display:inline-block;background:#C9A84C;color:white;padding:14px 32px;text-decoration:none;text-transform:uppercase;letter-spacing:0.15em;font-size:13px;'>Accept Quote</a></div></div></div></body></html>"
      },
      "name": "Send Quote to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$env.ADMIN_EMAIL}}",
        "subject": "📋 New Custom Quote: {{$('Webhook: Quote Submitted').item.json.body.quote_number}} — {{$('Webhook: Quote Submitted').item.json.body.doll_type}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style='font-family:Georgia,serif;'><div style='max-width:600px;margin:0 auto;padding:40px;background:white;'><h2 style='color:#C9A84C;'>New Custom Quote Request</h2><table style='width:100%;border-collapse:collapse;margin-bottom:20px;'><tr style='background:#f5f5f5;'><td style='padding:10px;font-weight:600;'>Customer</td><td style='padding:10px;'>{{$('Webhook: Quote Submitted').item.json.body.customer_name}} ({{$('Webhook: Quote Submitted').item.json.body.customer_email}})</td></tr><tr><td style='padding:10px;font-weight:600;'>Doll Type</td><td style='padding:10px;'>{{$('Webhook: Quote Submitted').item.json.body.doll_type}}</td></tr><tr style='background:#f5f5f5;'><td style='padding:10px;font-weight:600;'>Budget</td><td style='padding:10px;'>{{$('Webhook: Quote Submitted').item.json.body.budget}}</td></tr><tr><td style='padding:10px;font-weight:600;'>AI Quote</td><td style='padding:10px;color:#C9A84C;font-weight:600;'>₹{{$('Parse Quote Response').item.json.quoted_price}} / {{$('Parse Quote Response').item.json.delivery_days}} days</td></tr></table><div style='background:#f9f9f9;padding:15px;margin-bottom:20px;'><p style='font-weight:600;'>Outfit Description:</p><p style='color:#6b7280;'>{{$('Webhook: Quote Submitted').item.json.body.outfit_description}}</p></div><a href='{{$env.BACKEND_URL}}/docs' style='background:#0a0a0a;color:white;padding:10px 20px;text-decoration:none;'>Manage in Backend</a></div></body></html>"
      },
      "name": "Notify Admin of Quote",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"quote_sent\": true}"
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook: Quote Submitted": { "main": [[{ "node": "Claude: Generate Quote", "type": "main", "index": 0 }]] },
    "Claude: Generate Quote": { "main": [[{ "node": "Parse Quote Response", "type": "main", "index": 0 }]] },
    "Parse Quote Response": {
      "main": [[
        { "node": "Send Quote to Customer", "type": "main", "index": 0 },
        { "node": "Notify Admin of Quote", "type": "main", "index": 0 }
      ]]
    },
    "Send Quote to Customer": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
